html {
    font-family: "Raleway", "Helvetica", sans-serif;
    font-weight: 400;
    color: #2F3442;
    height: 100%;
    background-color: #FFFFFF;
}

.icon {color: #BCD2DA;}

.card {
    /* display, flex-direction */
    display:flex;
    flex-direction: column;
    border: 1px solid #CAD0D2;
    border-radius: 4px;
    overflow: hidden; 
  
}

.card__description {
    /* display, flex-direction, justify-content, align-items */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

.card__descriptionIcon {font-size: 32px; margin-bottom: 10px;}

.card__descriptionText {
    color: #57727C;
    font-size: 12px;
    text-align: center;
    max-width: calc(100% - 30px);
}

.card__price {
    text-align: center;
    color: #57727C;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 15px;
    border-top: 1px solid #D7DBDD;
    background-color: #EEF3F5;
}

.cardGroup {

    flex-direction:column;
    max-width: 320px;
    border:1px solid #CAD0D2;
    border-radius:4px;
    
  }
  
    .cardGroup__card {
      /* flex-grow, flex-shrink, flex-basis */
      flex-grow: 1;
      border: none;
      border-radius: 0;
    }
  
    .cardGroup__card {
      border-left: 1px solid #D7DBDD;
    }
  
    

   @media only screen and (min-width: 370px){

    html {
      background: rgb(219, 231, 231);
    }
    .cardGroup {
      display:flex;
      margin: 0 auto;
      flex-direction: row;
      max-width: 710px;
     
    }

    .card__price {
      color: #3cd8be;
      background-color:rgba(52, 49, 83, 0.753);
    }
    .icon {color: #3cd8be;}

    .card__descriptionText {
      color:#f3f3f3;
      font-size: 12px;
      text-align: center;
      max-width: calc(100% - 30px);
  }
  
  .cardGroup__cardDescription {
    /* flex-grow, flex-shrink, flex-basis */
   flex-grow: 1;
    
   


  }
  .card__descriptionIcon {
    margin: 15px;
  }
  
  .card {
    background: #59C173;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    flex-basis: 0;
  }
   }